<!-- About Me Section -->
<section id="services">
    <div class="container">
        <div class="columns">
            <div class="col-left">
                <img src="img/profile-pic.jpg" alt="Profile Picture" class="profile-pic">
            </div>
            <div class="col-right">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Me!</h2>
                </div>
                <div class="col-lg-12 left-align">
                    <div class="lead left-align">
                        <p>👋 Hey, I'm Anandi Jawkar! A Computer Science and Business Administration (Double Degree) Student @ The University of Waterloo & Wilfrid Laurier University building tech to address fundamental problems!</p>
                        <p>💻 Through hackathons, previous work terms, and personal projects, I have valuable experience working with full-stack and general software development!</p>
                        <p>✨ I'm currently seeking Winter 2025 internships</p>
                    </div>
                </div>
                <div class="col-lg-12 text-center">
                    <h4 class="section-title"><b>🧚‍♀️ Some of my latest endeavors:</b></h4>
                </div>
                <div class="col-lg-12 left-align">
                    <p>💼 Data Engineering Intern @ Spiria - Automating and optimizing data workflows with ETL solutions and custom Airflow operators</p>
                    <p>🔬 Undergraduate Research Assistant @ University of Waterloo - Exploring the world of Human-Computer Interaction!</p>
                    <p>📈 Product Manager @ Lazaridis Students' Society - Enhance products and streamline communication for 24 Laz clubs</p>
                    <p>💰 President @ Duke of Ed FX - Raised $150,000 and hosted events for 15,500+ students</p>
                    <p>🚁 Delegate @ Laurier Case Team - Competing for Laurier's National Case Competition Team!</p>
                    <p>💰 Software Engineer @ STEM Labs - Raised $150,000 and hosted events for 15,500+ students</p>
                    <p>💰 Data Engineer @ Samarth Solutions - Raised $150,000 and hosted events for 15,500+ students</p>
                    <p>💰 Event Coordinator @ Bloom Red Project - Raised $150,000 and hosted events for 15,500+ students</p>
                    <p>🎯 Director of Promotions @ International Humanitarian Peel Youth Council - Created a platform for connecting youth with opportunities</p>
                    <p>🔬 Researcher @ University of Toronto - Classified 6,200+ datasets across 8 research projects worldwide</p>
                    <p>🎤 Innovator @ TKS - Hosted workshops on student entrepreneurship</p>
                </div>
                <div class="col-lg-12 text-center">
                    <h4 class="section-title">⭐ Some awards I've earned:</h4>
                </div>
                <div class="col-lg-12 left-align">
                    <p>🗒️ Scalable - Aug 2023</p>
                    <p>🥈 Second Place Overall, Most Innovative Hack @ Ignition Hacks 2023 - August 2023</p>
                    <p>💸 Over $100,000 in Scholarships @ Various Universities </p>
                    <p>🏆 The Governor General's Academic Medal @ Government of Canada - Jun 2023</p>
                    <p>🏆 Best Business Hack @ MacHacks 3 - Feb 2023</p>
                    <p>🥇 Silver Award @ Duke of Edinburgh International Award </p>
                    <p>💸 Summer Company Grant ($3000) @ Government of Ontario - Jun 2022</p>
                    <p>🥈 2nd Place, Solo Participants (Canadian High School Division), Top 4% Worldwide @ CMU picoCTF - Mar 2022</p>
                    <p>🥇 National Champion @ FBLA Canada Case Competition - Feb 2022</p>
                    <p>3rd Place Worldwide DECA International Career Development Conference (ICDC)</p>
                    <p>🥇 Champion @ Saint Petersburg State University International Olympiad in Russian as a Foreign Language - Mar 2020</p>
                </div>
                <div class="col-lg-12 left-align">
                    <p>🎨 In my free time I love discovering anything music, reading, biking, running, weightlifting, mental health, travelling, and reversing the stigma around women in computing!</p>
                </div>
            </div>
        </div>
    </div>
</section>
