<!-- START SOCIAL DESIGN AREA -->
    <section id="contact" class="social-design-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="social-link-area text-center">
                        <h2>Get in touch!</h2>
                        <ul class="wow fadeInUp">
                            <li><a class="linkedin" href="https://www.linkedin.com/in/anantjyot-grang/" target="_blank" rel="noopener noreferrer"><i class="fa fa-linkedin"></i></a></li>
                            <li><a class="envelope" href="mailto:granganantjyot@gmail.com" target="_blank" rel="noopener noreferrer"><i class="fa fa-envelope"></i></a></li>
                            <li><a class="github" href="https://github.com/granganantjyot" target="_blank" rel="noopener noreferrer"><i class="fa fa-github"></i></a></li>
                            <li><a class="resume" href="https://drive.google.com/file/d/1KQeHv5XizIRGP6De5GS9lPB1pFwDMEPn/view?usp=share_linkt" target="_blank" rel="noopener noreferrer"><i class="fa fa-file-text"></i></a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- / END SOCIAL DESIGN AREA -->

