<!-- START SOCIAL DESIGN AREA -->
<section id="contact" class="social-design-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="social-link-area text-center">
                    <h2>Get in touch!</h2>
                    <ul class="wow fadeInUp">
                        <li><a class="linkedin" href="https://www.linkedin.com/in/anandijawkar/" target="_blank" rel="noopener noreferrer"><img src="img/linkedin.png" alt="LinkedIn"></a></li>
                        <li><a class="envelope" href="mailto:anandim30@gmail.com" target="_blank" rel="noopener noreferrer"><img src="img/map.jpg" alt="Mail"></a></li>
                        <li><a class="github" href="https://github.com/anandijawkar" target="_blank" rel="noopener noreferrer"><img src="img/github.jpg" alt="GitHub"></a></li>
                    </ul>
                </div>
                <span class="copyright">Copyright &copy; {{ site.title }} {{ 'now' | date: "%Y" }}</span>
            </div>
        </div>
    </div>
</section>
<!-- / END SOCIAL DESIGN AREA -->

