<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Me!</h2>
              <div class="intro-info">

   				<img src="images/profile-pic.jpg" alt="Profile Picture">

   				<p class="lead">
					👋 Hey, my name is Ian Korovinsky and I am a Software Engineering student @ The University of Waterloo pursuing a career in technology and entrepreneurship!
					
					💻 I'm proficient in full-stack development, leveraging Next.js and Figma for front-end design, Java, Python, C, and C++ for back-end applications, MongoDB and Firebase for database management, and Vercel, Google Cloud, AWS, and Azure for cloud hosting!

					⭐ Here's what I've been up to recently:

					💼 Co-Founder @ prehealth.ca - Disrupting by leveraging AI for personalized med-school tutoring
					📈 Data Science Intern @ Responsibli.ai - Created pipelines for data scraping and generating databases 
					🚁 Founder @ Floato - Founded a company specializing in drone photography and videography for homeowners
					💰 Provincial Executive Officer @ Ontario DECA - Raised $150,000 and hosted events for 15,500+ students
					🎯 Founder @ Opportunify - Created a platform for connecting youth with opportunities
					🔬 Researcher @ Zooniverse - Classified 6,200+ datasets across 8 research projects worldwide
					🎤 Speaker @ TEDx, UofWaterloo - Hosted workshops on student entrepreneurship

					⭐ Moreover, here are also some of the distinctions I have been awarded:

					🗒️ Top 21 Under 21 @ Race to a Cure - Aug 2023
					🥈 Second Place Overall, Most Innovative Hack @ Ignition Hacks 2023 - August 2023
					💸 Over $420,000 in Scholarships @ Various Universities - Jun 2023
					🏆 The Governor General's Academic Medal @ Government of Canada - Jun 2023
					🏆 Best Business Hack @ MacHacks 3 - Feb 2023
					🥇 Gold Award @ Duke of Edinburgh International Award - July 2022
					💸 Summer Company Grant ($3000) @ Government of Ontario - Jun 2022
					🥈 2nd Place, Solo Participants (Canadian High School Division), Top 4% Worldwide @ CMU picoCTF - Mar 2022
					🥇 National Champion @ FBLA Canada Case Competition - Feb 2022
					🏆 5th Place Worldwide DECA International Career Development Conference (ICDC) - May 2021
					🥇 Champion @ Saint Petersburg State University International Olympiad in Russian as a Foreign Language - Mar 2020

					⭐ Finally, here are some of my latest projects:

					🎙️ spleef.ai @ Ignition Hacks 2023 - Harnessing AI for Real-Time Interview Training
					🤖 visioncraft.ai @ HackThe6ix 2023 - Reducing Tech Waste through Deep-Learning-Powered Generative AI
					📄 foundAIr @ MacHacks 2023 - An AI-Powered Business Plan Generator for Rising Entrepreneurs Through AI
					🔎 EyeSpy @ YRSTF 2022 - The Personal Assistant for the Blind and Visually Impaired
					🛩️ Fire Away @ Hack The North 2022 - A Multi-Functional Deep Learning/Artificial Intelligence Drone

					Reach out to me if you're interested in collaborating!
				</p>
   			</div>   	
    </section>
